.App {
  height: 100vh;
  margin: 0;
  /* background-color: #333; */
  cursor: progress;
}
.point {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background-color: red;
  display: inline-block;
  position: absolute;
}
button {
  border: none;
  padding: 12px 24px;
  background-color: black;
  color: aliceblue;
  border-radius: 10px;
  cursor: pointer;
}
